
RewriteEngine on
RewriteCond %{HTTP_HOST} ^agresita\.ssipmt\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.agresita\.ssipmt\.com$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/ssipmt\.com\/agresita\/" [R=301,L]
