body,
html {
  height: 100%;
}
#home1 {
  transition: all 0.5s ease-in-out;
}
body,
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Spartan";
}
a {
  text-decoration: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-dark .navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
/* navigation */
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}
.page-footer,
.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.85);
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 1);
  }
  .btn-floating {
    width: 35px !important;
  }
  .fa-chevron-circle-left:before {
    font-size: 30px !important;
  }
  .fa-chevron-circle-right:before {
    font-size: 30px !important;
  }
  nav a:hover {
    transform: none;
  }
  .banner h1 {
    font-size: 2rem !important;
  }
  .banner p {
    font-size: 20px !important;
  }
  #about p span {
    font-size: 1.5rem !important;
  }
}
.scrollUp {
  transform: translateY(-80px);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* navigation ends */
/* Header */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(agresita/images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-social ul {
  list-style-type: none !important;
}

@media only screen and (max-width: 768px) {
  .heading{
      font-weight: 500 !important;
      font-size: 1.5rem;
  }
  .heading h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  li {
    font-size: 1rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  .popup-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.5em;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 1em 2em;
    background-size: 200% auto;
    color: white;
    background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #191654,
      #43c6ac
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #191654,
      #43c6ac
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    transition: all 0.5s;
  }
}
/* button popup */
.popup-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 1em 2em;
  background-size: 200% auto;
  color: white;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  transition: all 0.5s;
}
.popup-button:hover {
  color: white;
}
@media only screen and (min-width: 800px) {
  .popup-button:hover {
    transform: scale(1.2);
    color: white;
  }
}
/* button popup */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:focus {
  border: none !important;
  outline: none !important;
}

