body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}
* {
  font-family: "Spartan";
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/back.jpg) no-repeat;
  background-size: cover;
  opacity: 0.2;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1 {
  color: #e9e9e9;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p {
  color: #fff;
  margin-bottom: 20px;
}
.feelthefire{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-top: 5%;
}
a {
  text-decoration: none !important;
}
.popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 5px 4px 5px 2px rgba(49, 196, 190, 0.75);
  transition: all 0.5s;
}
.popup-button:hover{
  transform: scale(1.2);
  font-size: 1.5em;
  padding: 1em 2em;
  color: #ffffff;
  
}
.anim1 {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 500ms;
}
.anim2 {
  animation-name: zoomIn;
  animation-duration: 500ms;
  animation-delay: 1.5s;
}
.anim3 {
  animation-name: fadeInRight;
  animation-duration: 500ms;
  animation-delay: 1.5s;
}
.anim4 {
  animation-name: flipInX;
  animation-duration: 500ms;
  animation-delay: 2s;
}
h1{
    font-size: 40px;
    font-weight: 800 !important;
}
/* .anim5 {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
} */