* {
  font-family: "Montserrat";
}
/* Navigation*/
.navbar {
  background-color: transparent;
}
.scrolling-navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  background-color: #000000;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000000;
  }
}

.nav-pills {
  background-color: aqua !important;
}

/* navigation ends */

/* Header */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header Ends */
